.calculator {
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    width: 400px;
}

.calculator-screen{
    width: 100%;
    height: 100%;
    background-color: rgb(96, 96, 96);
    color: #fff;
    text-align: right;
    font-size: 36px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

.calculator-keys{
    width: 100%;
}

.row{
    display: flex;
}

button{
    height: 80px;
    background-color: rgb(65, 65, 65);
    font-size: 32px;
    color: white;
    width: 25%;
    outline: none;
    border-radius: 5px;
}

.all-clear, .zero-btn{
    width: 50%;
}

.operator, .equal-sign{
    background-color: rgb(65, 65, 65);
    color: rgb(63, 142, 228);
}

button:hover {
    background-color: rgb(49, 48, 48);
}

.operator:hover, .equal-sign:hover{
    background-color: rgb(49, 48, 48);
}